/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400&display=swap');

*{ box-sizing: border-box;}

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/*------------ GÉNÉRAL ------------*/
/*
    font-family: 'Anton', sans-serif; (h1, h2, ...)
    font-family: 'Poppins', sans-serif; (p)
*/

h3{
	font-size: 1.8em;
	color: #2b2e2f;
}

h2{
	font-size: 2.3em;
	color: #ba252a;
}

h1{
	font-size: 2.5em;
	color: #2b2e2f;
}

ul{
	list-style-type: none;
	padding: 0;
}

.btn{
	padding: 12px 20px;
	background-color:#ba252a; 
	color: white;
	max-width: 200px;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Poppins', sans-serif;
	border: none;
	text-align: center;
}

.btn:hover{
	background-color: #f8b20a;
	color: #2b2e2f;
	text-decoration: underline;
}

h1, h2, h3 {
	font-family: 'Anton', sans-serif;
}

/*------------HEADER--------------*/

header{
	background-color: #f8b20a;
}

.flex-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-nav img{
	padding-top: 10px;
}

nav li{
	display: inline-block;
	font-size: 1.7em;
	font-weight: bold;
	padding: 15px;
	font-family: 'Anton', sans-serif;;
}

nav a{
	color: #2b2e2f;
	text-decoration: none;
	padding: 15px;
}

#menu-mobile{
	display: none;
}

.btn-commande{
	background-color: #ba252a;
	color: white;
	font-weight: bold;
	padding: 15px;
	font-family: 'Anton', sans-serif;;
}

.btn-commande:hover{
	color: white;
	text-decoration: underline;
	background-color: #2b2e2f;
}

nav a:hover{
	color: #ba252a;
	text-decoration: none;
}

.actuelle{
	font-weight: bold;
	border: 2px solid #ba252a;
	padding: 15px;
}


/*-----------FOOTER----------*/

footer{
	padding-bottom: 15px;
	background-color: #f8b20a;
}

.flex-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2b2e2f;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.flex-footer-t-shirt{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.contact-black{
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	color: #2b2e2f;
}

.contact{
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	color: white;
}

.btn-tel{
	padding: 10px 25px;
	background-color: #ba252a;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Poppins', sans-serif;
}

.btn-tel:hover{
	background-color: #f8b20a;
	color: #2b2e2f;
	text-decoration: underline;
}

#footer-black{
	background-color: #2b2e2f;
}

#footer-white{
	background-color: white;
}

.mon-nom{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px ;
	font-family: 'Poppins', sans-serif;
}


/*------PAGE RESTAURANT - MOSAIQUE------*/

.grid-container-mos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.grid-container-mos img{
	width: 100%;
}

#mos1{
	grid-row: 1 / 3;
	grid-column: 1 / 3;
}

#mos6{
	grid-row: 3 / 5;
	grid-column: 2 / 4;
}

/*-------PAGE MA COMMANDE---------*/

.flex-container-com{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.flex-container-com-total{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}

.flex-btw{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-container-com ul{
	line-height: 40px;
}

#ma-commande{
	padding-top: 30px;
	padding-bottom: 30px;
}

#ma-commande li{
	color: #2b2e2f;
	font-size: 1.2em;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
}

.btn-commander{
	padding: 12px 20px;
	background-color:#ba252a; 
	color: white;
	max-width: 200px;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Poppins', sans-serif;
	border: none;
	text-align: center;
}

.btn-commander:hover{
	background-color: #2b2e2f;
	color: white;
	text-decoration: underline;
}

.width70{
	width: 67%;
}

.width30{
	width: 27%;
	background-color: #f8b20a;
	padding: 15px;
}

.txt-right{
	text-align: right;
}

.flex-container-t-shirt{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.flex-t-shirt{
	box-sizing: border-box;
	width: 50%;
}

.flex-t-shirt p{
	padding-bottom: 30px;
	color: white;
}

.flex-t-shirt h2{
	color: #f8b20a;
}

#t-shirt{
	padding-top: 50px;
	background-color: #2b2e2f;
}

#t-shirt p{
	font-size: 1.3em;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
}


/*-----FORMULAIRE RÉSERVATION-----*/

.width50{
	width: 48%;
}

.etiquette{
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	margin-top: 25px;
}

.flex-form{
	display: flex;
	justify-content: space-between;
}

.rouge{
	color: #ba252a;
}

input, textarea{
	font-size: 1.2rem;
	color: #2b2e2f;
	border: 1.5px solid #2b2e2f;
}

input{
	padding: 10px 20px;
}

input:focus{
	background-color: #f8b20a;
	border: 2px solid #ba252a;
}
#selHeure{
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
	color:#2b2e2f;
	border: 1px solid #2b2e2f;
	padding: 10px 20px;
}

#dateReservation{
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
	color:#2b2e2f;
	border: 1px solid #2b2e2f;
	padding: 10px 20px;
}

#nbrPersonnes{
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	color:#2b2e2f;
	font-weight: lighter;
	border: 1px solid #2b2e2f;
	padding: 10px 20px;
}

input::placeholder{
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	color:#2b2e2f;
	font-weight: lighter;
}

#selHeure:focus{
	background-color:#f8b20a;
}

label{
	font-size: 1rem;
	padding-bottom: 5px;
	font-family: 'Poppins', sans-serif;
	color: #2b2e2f;
}

textarea{
	min-height: 150px;
	width: 100%;
}

.etiquette{
	display: flex;
	flex-direction: column;
}

fieldset{
	margin-bottom: 30px;
	padding: 20px;
	border: 3px solid #f8b20a;
}

fieldset legend{
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 25px;
	margin-top: 25px;
	color: #2b2e2f;
}

#btn-confirmation{
	padding-top: 30px;
	padding-bottom: 50px;
}

/*------ PAGE MENU INDEX -------*/

.flex-container-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.flex-menu{
	box-sizing: border-box;
	text-align: center;
	padding-bottom: 60px;
	line-height: 1.3rem;
}

.flex-container-menu p{
	font-size: 2.5em;
	font-family: 'Poppins', sans-serif;
}

/*----------MEDIA QUERIES---------*/


@media screen and (max-width: 1200px) {
	.grid-container-mos{
		grid-template-columns: 1fr 1fr 1fr;
	}

	#mos1{
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	#mos6{
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.flex-form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.width50{
		min-width: 75%;
	}

	.flex-container-t-shirt{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.flex-t-shirt{
		text-align: center;
		width: 90%;
	}

	.flex-container-t-shirt img{
		padding-top: 30px;
		width: 70%;
	}

	nav li{
		padding: 0px;
	}

}


@media screen and (max-width: 960px) 
{
	.grid-container-mos{
		grid-template-columns: 1fr 1fr;
	}

	#mos1{
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	#mos6{
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.flex-btw{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.width30{
		width: 67%;
	}

	.width70{
		width: 67%;
	}

	.flex-container-com{
		margin-bottom: 30px;
	}


	.flex-t-shirt{
		text-align: center;
		width: 90%;
	}

	.flex-container-t-shirt img{
		padding-top: 30px;
	}

	#menu-mobile{
		display: block !important;
	}

	nav li{
		display: none !important;
	}


}

@media screen and (max-width: 570px) 
{
	
	.grid-container-mos{
		grid-template-columns: 1fr;
	}

	#mos1{
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	#mos6{
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
}